<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li *ngFor="let manufacturer of manufacturers" role="presentation" class="{{ selectedManufacturer == manufacturer.id? 'active' : '' }}">
        <a (click)="onClick_Manufacturer(manufacturer.id)">{{ manufacturer.title }}</a>
      </li>
    </ul>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Drivers</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let driver of drivers">
          <td>{{ driver }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>